*{
    box-sizing: content-box;
}

#navbar{
    background-color:rgb(0,0,0);
}


.header-container{
    /* background-image: linear-gradient(rgb(117, 117, 188), rgb(116, 91, 38)); */
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("./images/bg.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
    color:white;

}

.changecontent::after{
    content: ' ';
    color:orange;
    animation: changetext 5s infinite linear;
}
@keyframes changetext{
    0%{content: "Web Development";}
    10%{content: "Data Analytics";}
}

.social-icons{
    display: flex;
    justify-content: center;
    flex-direction:row;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.social-icons-item{
    padding-right: 20px;
}

.btn-about{
    height: 40px;
    width: 120px;
    border: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 3px;

}

.btn-about:hover{
    background-color: green;
    color: white;
    border-radius: 3px;
}


footer{
    height: 400px;
    width: 100%;
    background-color: rgb(43, 42, 42);

}